ffoo@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bol-webfont.eot');
    src: url('../fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bol-webfont.woff') format('woff'),
         url('../fonts/lato-bol-webfont.ttf') format('truetype'),
         url('../fonts/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'morris_roman_alternateblack';
    src: url('../fonts/ufonts.com_morris-roman-alternate-black-webfont.eot');
    src: url('../fonts/ufonts.com_morris-roman-alternate-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_morris-roman-alternate-black-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_morris-roman-alternate-black-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_morris-roman-alternate-black-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_morris-roman-alternate-black-webfont.svg#morris_roman_alternateblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thesansplain';
    src: url('../fonts/TheSans Plain-webfont.eot');
    src: url('../fonts/TheSans Plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TheSans Plain-webfont.woff2') format('woff2'),
         url('../fonts/TheSans Plain-webfont.woff') format('woff'),
         url('../fonts/TheSans Plain-webfont.ttf') format('truetype'),
         url('../fonts/TheSans Plain-webfont.svg#thesansplain') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'timelessregular';
    src: url('../fonts/Timeless-webfont.eot');
    src: url('../fonts/Timeless-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Timeless-webfont.woff2') format('woff2'),
         url('../fonts/Timeless-webfont.woff') format('woff'),
         url('../fonts/Timeless-webfont.ttf') format('truetype'),
         url('../fonts/Timeless-webfont.svg#timelessregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Basic Styles*/


*{margin:0;padding:0}
body{margin:0px;padding:0px;font-family:thesansplain;background:url(../images/bg/body-bg.jpg) repeat;background-size:100% 100%;}
html{margin:0px;padding:0px;height:100%;}
img{border:0px}
ul, ol{list-style-type:none;}
.clear{clear:both}

.wrapper{width:1340px;padding:0px 10px;margin:0 auto 0px}
.col1{display:inline-block;width:20%;vertical-align:top}
.col1.img{text-align:center}
img.photo{max-width:100%;text-align:center;}
.col2{width:55.5%;display:inline-block;text-align:center;margin:0 2%;position:relative;vertical-align:top}
.name{padding:10px 0}
.name img{max-width:100%}
.menu{margin:0 auto;display:block;background:#e24800;}
.menu ul{display:block;}
.menu ul li{list-style-type:none;float:left;background:url(../images/menuseparator.png) no-repeat right;padding:10px 0;border-top:5px solid #ffcd2e;}
.menu ul li:hover, .menu ul li.active{background:#860200;border-top:5px solid #9cd802;}
.menu ul li:last-child{background-image:none}
.menu ul li a{padding:0 12px;color:#fff;text-decoration:none;text-align:center;display:block;font-size:16px}
.menuShadow img{width:100%;display:block;height:15px}
.nav-collapse{display:none;background:url(../images/menuIcon.png) no-repeat 5px 5px #860200;margin-left:0px;padding:10px 0 0 0; height:24px;cursor:pointer;transition: all 0.5s;box-shadow:1px 1px 5px 1px #666}

.banner{margin-top:-40px}
.banner img{ width:100%;display:block}
.col1 h1{font-size:18px;text-transform:uppercase;color:#fff;text-shadow:1px 1px 1px #000; background:#ff7701;box-shadow:1px 1px 5px 0px #333;padding:15px 5px;font-family:timelessregular;text-align:center;position:relative;z-index:2}
.col1 ul{background:#cc2200;padding:10px 15px;color:#fff; font-size:14px;line-height:20px;box-shadow:0px 1px 5px 0px #333;}
.col1 ul li{padding-bottom:15px;text-shadow:1px 1px 1px #000;}
.program{box-shadow:0px 1px 5px 1px #000;margin-top:0px;border-top:5px solid #9cd802;}
.program a{color:#fff;text-decoration:none}
.program a:hover{color:#000}
.program a.btn{font-size:18px}
.program a.btn:hover{color:#fff}
.group{box-shadow:0px 1px 5px 1px #000;margin-top:15px;border-top:5px solid #9cd802;}
.col1 p{color:#fff;font-size:14px;padding:10px;background:#e04700;}
.group p{padding:40px 10px}
a.btn{background:#860200;display:block;padding:10px 0px;color:#fff;text-align:center;font-size:12px;font-weight:bold; text-decoration:none;text-transform:uppercase;font-family:timelessregular;position:relative;transition:all 1s}
a.btn span{background:#860200;font-size:10px;color:#fff;padding:12px 10px;float:right;margin-top:-10px;margin-right:-5px;font-family:thesansplain;}
a.btn:hover{background:#ff7701}
.contentDetails{text-align:left;color:#000;margin-top:20px;line-height:24px;font-size:18px}
.contentDetails p{padding-bottom:10px}
.streaming{text-align:center;border-top:5px solid #9cd802;}
.streaming h1{font-family:timelessregular;background:#cc2200;text-align:center;padding:0 0 20px 0;font-size:16px;}
.streaming img{display:block;margin:0 auto 5px}
.streaming span{border-bottom:1px solid #333;padding:0px 20px 8px 20px}
.video img{width:100%;display:block;box-shadow:0px 1px 5px 0px #333;}
.photogallery{box-shadow:0px 1px 5px 0px #333;margin-top:15px;border-top:5px solid #9cd802;}
.photogallery ul{padding:0;}
.slider img{width:100%}

/*******************About us*********************/
.insidePagecontent{text-align:left;line-height:24px;color:#000;padding-bottom:20px;}
.storydescription{font-size:18px;;text-align:left;line-height:24px}
.storydescription p{padding-bottom:10px}
.insidePagecontent .pLeft{float:left;width:65%;font-size:18px;}
.pLeft h2{color:#000;font-size:20px;padding-bottom:10px}
.pLeft p{padding-bottom:10px}

.insidePagecontent .pRight{float:left;width:33%;padding:0 2% 0 0}
.insidePagecontent .pRight img{width:100%}
.none{display:none}
.orignal{display:block}
.col2 .pageHeading{text-align:left;margin-bottom:5%}
.option2{display:none}

/******************Publications******************/
.pubLeft{width:48%;float:left;}
.pubRight{width:48%;display:inline-block;color:#000;text-align:left;font-size:18px;line-height:24px;padding-top:20px;float:left;}
.pubRight span{position:absolute;bottom:80px}
.pubLeft img{width:100%;}
.pubRight strong{font-weight:bold;font-size:14px;}

/***************Patrika**************/

.container{width:980px;padding:0px 20px;margin:0px auto 20px;position:relative}
.patrika{margin-top:5%}
.pageHeading h1{color:#e24800;display:inline-block;margin-top:20px;font-family:timelessregular;text-transform:uppercase;color:#860200;font-size:24px}
.patrika{background:#ffcd2e;float:left;width:auto;margin-right:2%;padding:5px 0.5%;margin-top:20px}
div.linkBtn{color:#000;width:100%;}
div.linkBtn a{color:#000;text-decoration:none}
.image img{width:100%;}
.linkBtn img{vertical-align:middle;float:right}
span.year{padding:10px;display:inline-block}

/************Gallery*****************/
.divGalleryPanel{clear:both;margin:5% 0}
.divGalleryPanel h1{color:#fff;text-shadow:1px 1px 1px #000;font-size:24px;font-family:thesansplain;margin:2% 0}
.gallery li{float:left;width:23%;margin-right:2%;margin-bottom:5%;position:relative;overflow:hidden;}
.gallery li:nth-child(4){margin-right:0}
.gallery li img{width:95%;transition:all 0.5s;border:5px solid #fff;}
.viewGallery{text-align:center;margin:10px 0}
.viewGallery a{background:url(../images/plus.png) no-repeat right center;color:#fff;text-shadow:1px 1px 1px #000;text-decoration:none;text-transform:uppercase;padding-right:20px;font-size:18px}
.divcaption{position:absolute;top:0px; opacity:0.8;background:url(../images/zoom.png) center center no-repeat #000;width:100%;height:100%;color:#fff;text-align:center;}
.divcaption p{padding-top:20%}
#gallery1, #gallery2, #gallery3{display:none}
.galleryTabs{display:none}
.galleryTabs ul li{float:left;margin-bottom:20px}
.galleryTabs ul li a{color:#003889;background:#ebebeb;padding:5px 20px;border-radius:10px;display:block;font-size:18px;transition:all 1s;text-decoration:none}
.galleryTabs ul li a:hover{background:#ffc110;}
.galleryTabs ul li a div{display:none !important}

/*****************Program***********************/
.programDetails{color:#000;margin:5% 0}
.description{padding:0;margin:0}
.description table{width:100%;padding:0;margin:-4px auto 0;border:2px solid #ccc;}
.description table td{border-right:2px solid #ccc;vertical-align:top;line-height:24px}
.description table td:first-child{padding:5px 10px;width:1%;text-align:center;font-size:18px;vertical-align:top}
.description table td:nth-child(2){padding:5px 10px;width:43%}
.description table td:nth-child(3){padding:5px 0 5px 10px;width:1%;text-align:center;border-right:0;font-size:18px;vertical-align:top}
.description table td:nth-child(4){padding:5px 10px;width:46%;border:0}
.description table td ul li{}

.programDetails h1{background:#e24800;font-size:18px;font-weight:normal;padding:5px 10px;display:inline-block;margin-left:2px;text-transform:uppercase}
.programInfo{width:100%}
.srNo{width:1%;float:left;padding:5px 10px;font-size:20px}
.marathiThiti{width:40%;float:left;padding:5px 10px;font-size:18px;line-height:28px;border-left:2px solid #ccc;border-right:2px solid #ccc}
.colon{width:1%;float:left;padding:5px;font-size:20px}
.programs{width:40%;float:left;padding:5px 0px;font-size:18px;line-height:28px;}

/*****************Contact Us*****************/
.container1{width:1080px;padding:0px 20px;margin:20px auto 20px;position:relative}
.contactDetails{font-size:18px;line-height:28px;margin:5% 0 0 0 }
.contactAddress{width:46%;float:left;margin-right:4%}
.contactAddress p{padding-bottom:20px}
.contactInfo{width:50%;float:left;margin-left:}
.contactInfo p{padding-bottom:20px}
.contactInfo p span{color:#860200}
.address{margin-top:20px;border-bottom:0}
.address a{color:#000}
.map iframe{width:100%;height:300px}
.row2{margin:20px auto;width:960px;}
.timeTablecols{width:23%;margin-right:10%;float:left;}
.row2 .timeTablecols:nth-child(3){margin-right:0;}
.timeTablecols h1{font-size:20px;font-weight:normal;color:#860200;padding:20px 0}
.journeyPlace{float:left;width:45%;margin-right:10px}
.journeyInfo{float:left;width:50%}
a.btnInfo{background:#e24800;color:#fff;text-decoration:none;box-shadow:1px 1px 5px 1px #666;font-size:14px;padding:0 0px;display:block;text-align:center;margin-bottom:10px}
a.btnInfo:hover{background:#860200}
.scheduleOne{margin-bottom:20px;}


/*******Pagination**************/
.simplePagerNav{text-align:center;clear:both}
ul.simplePagerNav li a {color: #fff;text-decoration: none;font-weight: bold;font-size:18px;text-shadow:1px 1px 1px #000;font-family:timelessregular;background:#e24800;padding:5px 10px;transition:all 1s}
ul.simplePagerNav li a:hover{background:#860200}
ul.simplePagerNav li {padding:0 !important; margin:0 2px!important;display:inline}
li.currentPage {width: auto;height: 15px;padding: 7px;margin: 10px 12px 0 0;}
ul.simplePagerNav li.currentPage a {background:#860200}
/*.simplePagerContainer:nth-child(2) .simplePagerNav, .simplePagerContainer:nth-child(3) .simplePagerNav, .simplePagerContainer:nth-child(4) .simplePagerNav{display:none}
*/

/*******************popup**********************/
.bgPopup{position:fixed;height:100%;width:100%;z-index:2;background:rgba(0,0,0,0.8);top:0;display:none}
.popuptable{margin:20px;}
.popuptable h1{color:#000;text-align:center;padding:10px;font-size:18px;border:1px solid #666;}
.popuptable table{width:100%;border:0; border-bottom:2px solid #666;margin-top:10px}
.popuptable table td{padding:10px 20px;border-left:2px solid #666;}
.popuptable table td:first-child{width:10%;}
.popuptable table td:nth-child(2){width:40%;}
.popuptable table td:nth-child(3){width:20%;}
.popuptable table td:nth-child(4){width:20%;border-right:2px solid #666;}
.popuptable table tr:first-child td{padding:0 0 0 20px}
.popuptable table td h1{background:#e24800;padding:5px 10px;display:inline-block;font-size:18px;text-transform:uppercase;vertical-align:middle}
.popuptable table#headerTable{margin-top:10px}
.popuptable table#headerTable td{padding:0;padding-left:20px}
#popup3 .popuptable table td, #popup4 .popuptable table td, #popup5 .popuptable table td{width:auto}
#popup3 .popuptable table td:nth-child(4), #popup4 .popuptable table td:nth-child(4), #popup5 .popuptable table td:nth-child(4){border-right:0}
#popup3 .popuptable table td:last-child, #popup4 .popuptable table td:last-child, #popup5 .popuptable table td:last-child{border-right:2px solid #666;}

.tableContent{border:1px solid #666;border-right:0}
.popup{position:absolute;top:5%;left:5%;width:90%;margin:0 auto;height:88%;overflow:auto; z-index:3;background:#ffcd2e;border-radius:10px;border:10px solid #000;display:none}
.close{position:absolute;top:2%;right:2%;z-index:4;display:none}
.column1{width:20.9%;float:left;border-right:1px solid #666;padding:10px 2%;border-bottom:0}
.tableHeader .column1{border-right:0;padding:0 2%;}
.column1 span{background:#e24800;padding:5px 10px;display:inline-block}

.comingSoon{font-size:24px;color:#000;text-align:center;margin:100px auto 200px}
.comingSoon h1{padding-bottom:20px}
.VideoPopup{position:absolute;top:50%;left:50%;width:400px;height:250px;margin-top:-200px;margin-left:-200px;z-index:3;background:#c92100;border-radius:5px;text-align:center;vertical-align:middle;display:none}
.VideoPopup h1{padding:100px 0;color:#fff}
.closebtn{position:absolute;top:2%;right:2%;z-index:3;}

/**********************Footer*****************/
.footer{margin:20px auto 0px;display:block;padding:10px 0 0 0;background:#860200;min-height:75px;position:relative}
.footerMenu{text-align:center;padding-top:10px}
.footerMenu ul li{display:inline-block;}
.footerMenu ul li a{text-decoration:none;padding:10px;color:#fff;font-family:timelessregular;}
.footerMenu ul li a:hover{text-decoration:underline}
.divRight{position:absolute;right:10px;top:10px;color:#fff;text-align:right;font-family:timelessregular;}
.copyrights{text-align:right;padding:10px 0}
.credits{display:block}

@media all and (max-width: 1340px) 
{
.wrapper{width:96%;padding:0px 2%;margin:0px auto;}
.menu ul li a{padding:0px 12.89px;font-size:14px}
.contentDetails{margin-top:60px}
}

@media all and (max-width: 1279px) 
{	
.menu ul li a{padding:0px 8.95px;font-size:12px}
a.btn{font-size:12px}
.col1 h1{font-size:14px;}
a.btn span{font-size:8px;padding:11px 10px}
.container1{width:96%;padding:0 2%}
.pageHeading h1{font-size:24px}
.footerMenu{text-align:left}
.footerMenu ul li a{padding:10px 8px}
}
@media all and (max-width: 1024px) 
{
.menu ul li{min-width:10.6%}	
.menu ul li a{padding:0 2px ;}
.group p{padding:5% 10px}
}
@media all and (max-width: 1023px) 
{
.menu{background:none;}
.menuShadow img{display:none}
.nav-collapse{display:block}
ul{position:relative}
ul.menus{display:block;position:absolute;margin-left:0%;z-index:999999;margin-top:5px;width:100%}
ul.menus li{display:block;padding:0;background:#e24800;width:100%;text-align:left;border:0}
ul.menus li:hover, ul.menus li.active{border:0}
ul.menus li a{display:block;padding:10px 15px 10px 20px;margin:0;border-bottom:1px solid #333;text-align:left}
.col1 h1{font-size:12px;}
.streaming span{padding:0 5px 5px 5px}
a.btn{font-size:10px;}
.insidePagecontent{margin-top:20px;padding-bottom:0}
.insidePagecontent .pLeft{width:100%;font-size:16px;}
.insidePagecontent .pRight{width:100%;text-align:center;display:block}
.insidePagecontent .pRight img{max-width:100%;width:auto;}
.none{display:block}
.insidePagecontent .pRight.orignal{display:none}

.container{width:96%;padding:0 2%}
.row2{width:96%;padding:0 2%}
.footer{text-align:center;min-height:auto;padding:10px 0}
.footerMenu{text-align:center;}
.divRight{position:relative;right:0;top:0;text-align:center}
.copyrights{text-align:center}
.program a.btn{font-size:10px}
.option2{display:inline-block}
}
@media all and (max-width: 767px) 
{
.header .col1{margin:0 auto;float:none;width:100%;margin:0 auto}
.header .col2{width:96%;float:none}
.header .col1.option{display:none}
img.photo{max-width:40%;text-align:center}
.content .col1{width:100%;}
.content .col2{width:96%}
.banner{margin-top:20px}
.contentDetails{margin-top:20px;line-height:24px;margin-bottom:20px;}
.program{float:left;width:48%;margin-right:4%}
.group{margin-right:0;float:left;width:48%;margin-top:0}
.streaming{float:left;width:48%;margin-right:4%;margin-top:10px}
.photogallery{float:left;width:48%;margin-right:0%;margin-top:0;margin-top:10px}
.pubRight{font-size:18px}
.linkBtn img{float:none;display:block;margin:0 auto}
span.year{display:block;text-align:center;padding:0}
.patrika{margin: 0 0 20px 0}
.gallery li{width:32%;}
.gallery li:nth-child(4){margin-right:2%}
.gallery li:nth-child(3n){margin-right:0}
.container{margin-top:5%}
.divGalleryPanel h1{font-size:20px;padding:10px 0}
ul.simplePagerNav li a {font-size:14px}
.marathiThiti{padding:5px 2%;width:42%}
.contactAddress p{padding-bottom:10px}
.contactAddress{width:100%;margin:0}
.contactInfo{width:100%}
.address{border-bottom:1px dashed #666;margin-bottom:10px}
.timeTablecols{width:40%}
.popup{width:84%}
.close img{width:30px}
.programDetails h1{font-size:16px}
.popuptable h1{font-size:16px}
.popuptable table td h1{font-size:12px;padding:5px 0;display:block;background:none;border:0}
.popuptable table td {padding: 5px 5px;font-size: 14px;text-align: center;line-height:18px}
.popuptable table tr:first-child td{padding:0 0 0 0px;background:#e24800;}
.pageHeading h1{font-size:20px}
.storydescription{font-size:16px}
.col1 ul li{padding:0 10px;line-height:24px;}
.group p{padding:10px;line-height:20px;}
}

@media all and (max-width: 567px) 
{


.insidePagecontent .pRight img{max-width:100%;margin-top:10px}
.pubRight{width:100%;display:block;position:relative;}
.pubRight span{position:relative;bottom:0;margin-bottom:20px;display:block}
.pubLeft{width:80%;display:block;margin:0 auto}
.patrika{width:50%}
.viewGallery a{font-size:14px}
.gallery li{width:48%;}
.gallery li:nth-child(3n){margin-right:2%}
.gallery li:nth-child(2n){margin-right:0}
.gallery li img{width:90%;}
.divGalleryPanel h1{font-size:20px}
.programDetails h1{font-size:16px}
.marathiThiti{width:45%;font-size:14px}
.programs{font-size:14px;width:45%}
.timeTablecols{width:100%;border-top:1px dashed #666}
.timeTablecols h1{font-size:18px}
.contactDetails{font-size:16px}
.popup{width:86%}
.column1 span{font-size:12px;padding:5px}
.programDetails h1{font-size:12px;width:100%; text-align:center;display:table-cell;margin-left:0;height:45px;vertical-align:middle;line-height:14px}
.heading{display:table}
.description table{width:90%}
.description table td{font-size:14px;line-height:20px}
.description table td:first-child, .description table td:nth-child(3){font-size:14px}
.insidePagecontent p{font-size:14px;line-height:20px}
.pLeft h2{font-size:18px}
.comingSoon h1{font-size:24px}
.emailUs{font-size:20px}
.footerMenu ul li a{font-size:14px;line-height:24px}
.copyrights{font-size:14px}
.credits{font-size:14px}
.comingSoon{margin:100px auto}
.VideoPopup{width:100%;margin-left:-50%}
.contentDetails{font-size:14px;line-height:20px}
}
@media all and (max-width: 360px) 
{
.programDetails{}
.marathiThiti{width:45%;font-size:14px;line-height:20px;}
.programs{font-size:14px;width:42%;min-height:40px;line-height:20px;display:table}
.programs h1{display:table-cell;vertical-align:middle;}
.contactDetails{font-size:14px;line-height:24px}
.description table td{font-size:12px;line-height:18px}
.description table td:first-child, .description table td:nth-child(3){font-size:12px}
.popuptable h1{line-height:20px;font-size:14px;}
.emailUs{font-size:16px;line-height:24px}
}
