/* Preload images */
body:after {
  content: url(../images/icon/close.jpg) url(../images/icon/loading.gif) url(../images/icon/prev.jpg) url(../images/icon/next.jpg);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background: url(../images/bg/overlay.png) repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.9;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;

  *zoom: 1;

  margin: 0 auto;

}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 10px;  border:10px solid #000;background:#fff;  -webkit-border-radius: 4px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;color:#949494
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/icon/loading.gif) no-repeat;
}

.lb-nav {
  position: relative;
  height: 20px;
  width:100%;
  z-index: 10;
  padding-top:5px
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 21px;
  left: 0;
  float: left;
  background: url(../images/icon/prev.jpg) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  background-size:contain
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: url(../images/icon/prev-mo.jpg) left 48% no-repeat;
}

.lb-nav a.lb-next {
  width: 21px;
  left: 0;
  float: left;
  background: url(../images/icon/next.jpg) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
   background-size:contain
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
   background: url(../images/icon/next-mo.jpg) right 48% no-repeat;
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 20% !important;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;

    width: 20% !important;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {

  width: 85%;
  float: left;
  line-height: 1.1em;text-align:center;

}

.lb-caption {
  font-size: 13px;
  font-weight: bold;display:inline-block;padding-top:10px;color:#949494; font-family:Arial, Helvetica, sans-serif;
}

.lb-number {
  display: inline-block;
vertical-align:middle;
  font-size: 12px;
 color:#949494;
 font-family:Arial, Helvetica, sans-serif;
  padding-top:10px;text-align:left;float:left;padding-left:5px
  
  
}

.lb-closeContainer .lb-close {
  display: inline-block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/icon/close.jpg) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  position:relative;z-index:99999999;cursor:pointer;/*margin-top:-10px*/
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: url(../images/icon/close-mo.jpg) top right no-repeat;
}
